body {
  background-color: hsl(48, 100%, 67%);
}

.d3-tip {
  line-height: 1;
  padding: 6px;
  background: white;
  border-radius: 4px solid black;
  font-size: 12px;
  fill: black;
}

#tooltip {
  font-weight: 600;
  text-shadow: 0px 0px 2px white;

  fill: black;
  stroke: none;
}

#details table {
  height: auto;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 10px;
  width:auto;
  table-layout:fixed;
}

#details img.detailImage {
  display: block;
  margin: auto;
  width: 120px;
  height: auto;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

path.land {
  fill: #E3DAC9;
  stroke: none;
}

path.neighborhood {
  fill: none;
  stroke: #7C0A02;
  stroke-width: 1px;
  pointer-events: none;
}

.active {
  stroke: #7C0A02 !important;
  stroke-width: 3px !important;
}

circle.symbol {
  fill-opacity: 0.6;

  stroke: white;
  stroke-width: 1px;
}

.positive{
  fill: #A52A2A;
  fill-opacity: 0.9;
}
.negative{
  fill: lightsteelblue;
  fill-opacity: 0.9;
}

@media screen and (max-width: 900px) {
  #vis {width = "100%"; height = "10%";}
}
